
.testingDIV {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 580px;
    margin: 30px auto;

    .carousel-inner{
        width: 100%;
        height: 100%;
        position: relative;

        .carousel-item {
            height: 100%;
            width: 100%;

            .carouselPadre1 {
                width: 100%;
                height: 580px;

                .carouselPadre2 {
                    width: 100%;
                    height: 580px;
                    background-image: url("../images/mockupDashboardv3.png");
                    background-position: 200% 63%;
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-clip: padding-box;
                    position: relative;

                    @media only screen and (min-width: $smartphones) and (max-width: $tablet) {
                        background-position: -70% 73%;
                        background-size: 130%;
                    }

                    @media only screen and (max-width: $smartphones) {
                        background-position: 30% 70%;
                        background-size: 250%;
                        background-image: url("../images/mockupDashboardv4.webp");
                    }

                   
                    .caruselPadre3 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #00000082;
                    }
                   
                    .carouselCentral {
                        text-align: left;
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 25%;
                        transform: translate(-50%, -50%);
                        width: 30%;

                        
                        @media only screen and (min-width: $smartphones) and (max-width: $tablet) {
                            transform: translate(-35%, -50%);
                            width: 50%;
                        }

                        @media only screen and (max-width: $smartphones) {
                            transform: translate(-20%, -50%);
                            width: 80%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        

                        & h3 {
                            font-size: 26px;
                            margin: 10px 5px;
                            text-align: start;

                            @media only screen and (min-width: $smartphones) and (max-width: $tablet) {
                                font-size: 26px;
                                text-shadow: 1px 1px 2px black, 0 0 1em $iconColor, 0 0 0.2em $iconColor;
                            }

                            @media only screen and (max-width: $smartphones) {
                                text-align: center;
                                font-size: 24px;
                                text-shadow: 1px 1px 2px black, 0 0 1em $iconColor, 0 0 0.2em $iconColor;
                            }



                        }

                        & p {
                            margin: 5px;
                            font-size: 16px;
                            text-align: start;

                            @media only screen and (min-width: $smartphones) and (max-width: $tablet) {
                                font-size: 16px;
                                text-shadow: 1px 1px 2px black, 0 0 1em $iconColor, 0 0 0.2em $iconColor;
                            }

                            @media only screen and (max-width: $smartphones) {
                                text-align: justify;
                                font-size: 14px;
                                text-shadow: 1px 1px 2px black, 0 0 1em $iconColor, 0 0 0.2em $iconColor;
                            }
                        }


                    }

                    .carouselCentralDer {
                        @media only screen and (min-width: $smartphones) {
                        transform: translate(100%, -50%);
                        }
                    }

                    
                }
                .img2 {
                    background-image: url("../images/mockupRankingv3.png");
                    background-position: -100% 63%;
                    background-size: 80%;

                    @media only screen and (max-width: $smartphones) {
                        background-size: 250%;
                        background-position: 40% 80%;
                        background-image: url("../images/mockupRankingv2.png");
                    }

                }
                

                .img3 {
                    background-image: url("../images/MockupInformesV2.png");

                    @media only screen and (max-width: $smartphones) {
                        background-position: 100% 63%;
                        background-image: url("../images/MockupInformesV2.png");
                    }
                }

            }
        }
    }
}

